/* Remove default value */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default underline */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-size: 1em;
  color: white;
  background-color: #611221;
  font-family: "Oxygen", sans-serif;
}

/* using flex to align elements vertically */
.column {
  display: flex;
  flex-direction: column;
}

/* using flex to align elements horizontally */
.row {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}

.main-figure {
  height: 500px;
  border-radius: 16px;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid black;

  .main-image {
    opacity: 0;
  }
}

.image-section {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.figure {
  position: relative;
  box-shadow: 0 0px 2px 0px black;
  overflow: hidden;
  border-radius: 8px;

  &.sub-image {
    position: absolute;
  }

  & figcaption {
    position: absolute;
    z-Index: 9999;
    bottom: 0;
    background-color: #222;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    padding: 8px;
  }
}

.figure:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

.contact-mob {
  display: none;
}

/* Extra small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {
  body {
    font-size: 1.33em;
  }

  figcaption {
    font-size: 0.8em;
    padding: 4px;
  }

  .main-content {
    padding: 12px;
  }

  .image-section {
    padding: 1em;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 0.5em;
  }

}

/* Small devices (portrait tablets and large phones, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991px) {
  
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {...} */